.footer{
    background-color: #056998;
    color:white;
}
.discover a{
    text-decoration: none;
    display:block;
    color:white;
    font-weight: 300;
    font-size: 0.9em;
}
.payment-method img{
    margin:1px;
  
}